.main-container {
  
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-areas: 
  
  'header header header'
  'color color color'
  'footer footer footer'
  
  
  ;

}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(yellow, red);
  font-family: 'Coda Caption', sans-serif;
}

.appStyle {
  padding: 10%;
  border: 2px solid white;
  border-radius: 10px;
  
}

.container {
  grid-area: color;
  padding:5%;
  
  
  
}

.footer { 
  grid-area: footer;
  display: flex;
  margin-left: 10%;
  
  
  
}



.header {
  grid-area: header;
  display: flex;
  justify-content: center;
}


